@media screen and (max-width:765px) {
  div.bg{
    background: #fff;
  }
  div.main{
    margin-top: 0px;
  }
}

.bg {
  position: absolute;
  top:50px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f1f1f1;
}

.main {
  width: 400px;
  background: #fff;
  margin: 60px auto 0;
  padding: 50px;
  box-sizing: border-box;
  h4{
    width: 300px;
    padding: 10px;
    margin:0 0 50px 0;
    box-sizing: border-box;
    text-align: center;
    a,b{
      color:#969696;
      padding: 10px;
      font-size: 18px;
      text-decoration: none;
    }
    b{
      font-weight: 550;
    }
    .sign_in{
      color:#ea6f5a ;
      font-weight: bold;
      border-bottom: 2px solid #ea6f5a;
    }
  }

  .sign_in_container {
    form {
      margin:0 auto;
      input{
        width: 300px;
        height: 50px;
        // background: rgba($color: #000000, $alpha: 1.0);
        background: rgba(181,181,181,0.1);
        padding: 4px 12px 4px 35px;

        box-sizing: border-box;
        border: 1px solid #c8c8c8;
        border-radius: 3px;
      }
      #email {
        border-bottom: none;
      }
      div{
        position: relative;
      }
      i{
        position: absolute;
        top: 14px;
        left: 10px;
        font-size: 18px;
        color:#969696
      }
    }

    .remember,.problem {
      margin:15px 0;
    }
    .repro {
      overflow: hidden;
    }
    .remember {
      display: flex;
      float: left;
      align-items: center;
      font-size: 15px;
    }
    .problem{
      float: right;
      color: #999;
      font-size: 14px;
      line-height: 19px;
      text-decoration: none;

    }

    .sign_in {
      clear: both;
      width: 300px;
      background: #3194d0;
      color:#fff;
      margin: 0px 0 20px 0;
      padding: 9px 18px;
      font-size: 18px;
      border: none;
      border-radius: 24px;
    }

    .more_sign {
      text-align: center;
      h6{
        position: relative;
        color: #b5b5b5;
        font-size: 12px;
        &::before,&::after{
          position: absolute;
          display: block;
          content: '';
          width: 60px;
          border-bottom: 1px solid #b5b5b5;
        }
        &:before{
          top: 6px;
          left: 25px;
        }
        &::after {
          top: 6px;
          left: 215px;
        }
      }
      ul{
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 300px;
        height: 50px;
        text-align: center;
      }
      li{
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
    }
  }
  
}